@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  @apply bg-black text-white;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Infinite Scroll Animation */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}