@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  @apply bg-black text-white;
  cursor: none !important;
}

/* Ensure interactive elements also hide the cursor */
a,
button,
[role='button'],
.hover-link {
  cursor: none !important;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}